%h1 This is your inbox
%section#inbox
  %h1 Your received messages
  - @messages.each do |message|
    .inbox-message
      - unless message.read
        %strong= link_to message.subject, message_path(message), class: 'message-subject'
      - else
        = link_to message.subject, message_path(message), class: 'message-subject'
      %span.message-sender
        From: #{message.sender.first_name} #{message.sender.last_name}
      - unless message.read
        %i.unread Unread
