%h1 Reply to the message #{ @message.subject }
%h2 From : #{ @message.recipient.email }
%h2 To: #{ @message.sender.email }

= form_for @message_reply do |f|

  = f.label :subject
  = f.text_field :subject

  = f.label :body
  = f.text_field :body

  = f.hidden_field :responds_to_id, value: "#{@message.id}"
  = f.submit :send



