<h1>Sent Messages</h1>

<%= link_to "New message", new_profile_message_path(@profile) %>
<% @messages.each do |message| %>
  <section class="b-white b-2-bottom b-solid b-0-top b-0-right b-0-left">
    <p>
      <%= message.content %>
    </p>
    <p>
      <small>Sent to: <%= message.receiver.profile.name %></small>
    </p>
    <p>
      Sent at: <small><%= message.created_at %></small>
    </p>
  </section>
<% end %>
