%section.message
  %h1
    Message from #{@message.sender.username}
  %span
    = link_to "Reply", new_reply_message_path(@message)
  %h2
    Subject:
    %span.subject
      = @message.subject
  %p
    = @message.body
