.profile-container
  %h2 #{profile.customer.username}

  %img.profile-photo{:src => profile.img_url, :alt => "Profile picture of member #{profile.customer.first_name}"}

  %dl
    %dt
      Name
    %dd
      = "#{profile.customer.first_name} #{profile.customer.last_name}"

    %dt
      Age
    %dd
      = profile.age

    %dt
      Gender
    %dd
      = profile.customer.type

    %dt
      Languages
    - profile.languages.each do |language|
      %dd
        = language.name

    %dt
      Religion
    %dd
      = profile.religion.name if profile.religion

    %dt
      Education
    %dd
      = profile.education

    %dt
      Height
    %dd
      = "#{profile.height}cm"

    %dt
      Star Sign
    %dd
      = profile.star_sign

    %dt
      Drinking Preferences
    %dd
      = profile.drinks
