= form_for @profile do |f|
  %fieldset
    = f.label :biography
    = f.text_field :biography
  %fieldset
    = f.label :education
    = f.select :education, Profile.educations.keys.to_a, include_blank: true, selected: @profile.education
  %fieldset
    = f.label :star_sign, "Star Sign"
    = f.select :star_sign, Profile.star_signs.keys.to_a, include_blank: true, selected: @profile.star_sign
  %fieldset
    = f.label :religion_id, "Religion"
    = f.select :religion_id, options_for_select(@religion_options, "#{@profile.religion.id if @profile.religion}")
  %fieldset
    = label_tag :industry
    = select_tag :industry, options_for_select([['Medicine', 'Medicine'], ['Computing', 'Computing']]), include_blank: true
  %fieldset
    = f.label :smoker
    = f.check_box :smoker

  %fieldset#language_field
    = label :profile_languages, "Languages"
    = f.fields_for :profile_languages do |pl|
      = pl.fields_for :language do |l|
        = l.text_field :name, :class => "language_input"
  = link_to "Add Language", add_language_profile_path(@profile), :remote => true
  %fieldset
    = label_tag "measurement_Centimetres", "Centimetres"
    = radio_button_tag "measurement", "Centimetres", true, id: "cm_button"
    = label_tag "measurement_Feet_and_Inches", "Feet and Inches"
    = radio_button_tag "measurement", "Feet and Inches", false,  id: "ft_button"
  #measurements
    #cm
      = f.label :height, "Height(cm)"
      = f.number_field :height, in: 50..275
    #feet
      = f.label :height_feet, "Height(ft)"
      = f.number_field :height_feet
    #inches
      = f.label :height_inches, "Height(in)"
      = f.number_field :height_inches
  %fieldset
    = f.label :drinks
    = f.select :drinks, Profile.drinks.keys.to_a, include_blank: true, selected: nil
  %fieldset
    = f.submit :Submit

:javascript
  console.log($(".language_input").length);
  var i = $(".language_input").length;
