<% if @measurement == "cm" %>
  $('#height').html("<input  min='50' max='275' type='number' id='profile_height' value='<%= self.height_feet  %>' name='profile[height]'>");
<% else %>
  $('#height').html("<input min='1' max='9' type='number' id='feet' value='<%= self.height_inches  %>' name='feet'>")
  $('#height').append("<input min='0' max='12' type='number' id='inches' name='inches'>")
<% end %>
