#search
  = form_tag search_profiles_path, method: "GET", remote: true do
    %fieldset
      = label_tag :gender
      = select_tag :gender, options_for_select([['male', 'male'], ['female', 'female']]),include_blank: true
    %fieldset
      = label_tag :industry
      = select_tag :industry, options_for_select([['Medicine', 'Medicine'], ['Computing', 'Computing']]), include_blank: true
    %fieldset
      = label_tag :ethnicity
      = select_tag :ethnicity, options_for_select(Profile.ethnicities.keys), include_blank: true
    %fieldset
      = label_tag :distance
      = select_tag :distance, options_for_select([['5km', '5'], ['10km', '10'], ['20km', '20'], ['50km', '50']]), include_blank: true
    %fieldset
      = label_tag "Min age"
      = select_tag :min_age, options_for_select((18..130).to_a.map{|s| ["#{s}", s]}), include_blank: true
      = label_tag "Max age"
      = select_tag :max_age, options_for_select((18..130).to_a.map{|s| ["#{s}", s]}), include_blank: true
    %fieldset
      = label_tag :drinks
      = select_tag :drinks, options_for_select(Profile.drinks.keys.to_a), include_blank: true
    %fieldset
      = submit_tag :search
#results
  - @profiles.each do |profile|
    = render profile
