- if current_customer == @profile.customer
  %h3#completedness-text Your profile is #{@profile.profile_completed}% complete
  %progress.progress-bar{:value => @profile.profile_completed, :max => "100"}

= render @profile
