.b-t-2 {
  border-top: 2px;
}

.b-2-bottom {
  border-bottom: 2px;
}

.b-white {
  border-color: #fff;
}

.b-pink {
  border: 1px solid purple;  
}

.b-1-w {
  border: solid white;
}

.b-1-b {
  border: solid black;
}

.b-th-b {
  border: solid 0.5px black;
}

.b-solid {
  border-style: solid;
}

$directions: (top, right, bottom, left);
@each $direction in $directions {
  .b-0-#{$direction} {
    border-#{$direction}: 0px;
  }
}
