$num-cols: 12;
$grid-max-width: 100em;
$gap: 1%;
 
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 40em)";

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0) !important;
    /*background-color: goldenrod;*/

  .row {
    width: 100%;
    /*background-color: red;*/
  }
}
  
img {
    width: auto;
    max-width: 100%;
    height: auto; 
}

[class*='column-'] {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;    
    vertical-align: top;
    /*background-color: goldenrod;*/
}  

@media #{$breakpoint-medium} {
  .wrapper {
    width: 100%;
    max-width: $grid-max-width;     
    }
  @for $i from 1 through $num-cols {      
    .column-#{$i} {         
        width: (100% / $num-cols) * $i - $gap !important;
        margin: 0 $gap / 2;
    }
  }             
  @for $i from 1 through ($num-cols - 1) {      
    .offset-#{$i} {         
      margin-left: (100% / $num-cols) * $i + $gap / 2;
    }
  }   
}
