<h1>Someone has sent you a message!</h1>

<p>Hi <%= @recipient.first_name %>!</p>

<p>You've received a new message from <%= @sender.username %>. Please follow the link below to view it.</p>

<p><a href="<%= message_path(@message) %>"></a></p>
