<%= form_tag subscribers_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <h2> Thanks for choosing to become a premium member </h2>
    <label class="amount">
      <span>Amount: £9.99</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="999"
          data-locale="auto"></script>
<% end %>

  <h2>Or view all profiles</h2>
  <%= link_to "View all profiles", profiles_path %> 