@import 'libs/*';
@import 'fonts';
@import 'application/*';

.progress-bar{
  width: 500px;
  display:block;
  border-radius: 20px;
  margin-bottom: 15px;
}

progress::-webkit-progress-bar {
  border-radius: 20px;
  margin-bottom: 15px;
}

progress::-webkit-progress-value {
  border-radius: 20px;
  margin-bottom: 15px;
}

.profile-container {
  padding-left:50px;
}

select {
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
}

input {
  padding: 5px 10px;
}

input[type='submit'] {
  background-color: #559BE3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

#language_field .language_input {
  display: block;
  margin-top: 0.5em;
}

@media (max-width: 700px) {
  .progress-bar {
    width: 90%;
    margin: 0 auto;
  }
  #completedness-text {
    font-size: 1em;
  }
  .profile-container dl, dt, dd {
  text-align: center;
  -webkit-margin-start: 0;
  }
  input[type='text'], input[type='email'], input[type='password'], input[type='submit'], select {
    width: 100%;
  }
}

.profile-container dl dt {
  font-weight: bold;
}

#main-container {
  h1 {
    font-size: 4em;
  }
  width: 100%;
  height: 600px;
  margin: 50px auto;
  text-align: center;
  a {
    font-size: 20px;
    margin-top: 100px;
    padding: 50px;
    border-radius: 10px;
  }
  background: image-url('happy-people.jpg') no-repeat;
  background-position: 0;
}
