//Overriding Bootstrap

body {
  background-color: rgba(255,255,255,0) !important;
  strong a {
    color: #08c !important;
  }
}

#allProfiles li {
  display: block !important;
  .profile-links {
    &:link, &:visited, &:hover, &:active {
      background-color: #08c !important;
      color: #fff !important;
    }
  }
}
