.profile-container dl dt {
  font-weight: bold;

.profile {
  h3 {
    font-size: 1.5em;
    padding: 1em 0 1em 0;
  }

  .profile-image {
    float: left;
    padding-right: 2em;
  }

  .profile-info {
    float: left;
  }
}

