$message-border: 1px #333333 solid;
$message-border-radius: 5px;

.message {
  margin: 0 50px;
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
    border: $message-border;
    border-radius: $message-border-radius;
    padding: 10px;
  }
  p {
    border: $message-border;
    border-radius: $message-border-radius;
    padding: 10px;
    min-height: 200px;
  }
  .subject {
    font-weight: normal;
  }
}

#mail-link {
  margin-right: 100px;
  img {
    margin: 5px 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
    float: right;
  }

  #new-messages {
    height: 30px;
    width: 30px;
    background-color: #5969FF;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 100%;
    box-sizing: border-box;
    padding-top: 4px;
    padding-left: 10.5px;
  }
  position: relative;
}

#inbox {
  .inbox-message {
    display: block;
    border: $message-border;
    border-radius: $message-border-radius;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .message-subject {
      margin-right: 25px;
    }
    .message-sender {
      text-align: center;
    }
  }
  h1 {
    text-align: center;
  }
}

.unread {
  float: right;
}
