@import 'fonts.css.scss';

header {
  background: #333;
  padding: 1rem;
  padding: 1em;
  border-bottom: 2px solid #999;
  height: 100px;

  #main-logo {
    @include logo-font;
    display: inline-block;
    float: left;
    font-size: 2rem;
    font-size: 2em;
    background: image-url('logo.png') no-repeat;
    height: 62px;
    line-height: 62px;
    padding-left: 82px;
  }
}

#hamburger {
  display: none;
}

#mobile-menu {
  display: none;
  color: white;
  height: 250px;
  width: 200px;
  position: absolute;
  top: 90px;
  right: 0;
  background-color: #333333;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  ul {
    list-style: none;
    li {
      margin-top: 20px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

#full-menu {
  color: white;
  float: right;
  list-style: none;
  li {
      margin-top: 20px;
      display: inline;
      margin-right: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 700px) {
  header {
    #main-logo #site-title {
      display: none;
    }
    #hamburger {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 10px;
      height: 70px;
      float: right;
      cursor: pointer;
    }
    #full-menu {
      display: none;
    }
  }
}

#full-menu {
  color: white;
  float: right;
  ul {
    list-style: none;
    li {
      margin-top: 20px;
      display: inline;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
