<!DOCTYPE html>
<html>
<head>
  <title>Wegotsingles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>

    <a href="<%= root_path %>">
		  <i id="main-logo"><span id="site-title">We Got Singles</span></i>
    </a>

    <% if current_customer %>
      <div id='mail-link'>
        <% unless current_customer.received_messages.where(read: nil).empty? %>
          <div id='new-messages'>
            <%= current_customer.received_messages.where(read: nil).count %>
          </div>
        <% end %>
        <a id="message-a-tag" href="<%= messages_path %>"><%= image_tag 'mail.png' %></a>
      </div>
    <% end %>

    <ul id="full-menu">
        <li><%= link_to 'Search', profiles_path %></li>
        <% if current_customer %>
          <li><%= link_to 'My Profile', profile_path(current_customer.profile) %></li>
          <li><%= link_to 'Log Out', destroy_customer_session_path, method: 'DELETE' %></li>
        <% else %>
          <li><%= link_to 'Register', new_customer_registration_path %></li>
          <li><%= link_to 'Log In', new_customer_session_path %></li>
        <% end %>
      </ul>

    <%= image_tag "hamburger.png", id: "hamburger" %>
    <div id="mobile-menu">
      <ul>
        <li><%= link_to 'Search', profiles_path %></li>
        <% if current_customer %>
          <li><%= link_to 'My Profile', profile_path(current_customer.profile) %></li>
          <li><%= link_to 'Log Out', destroy_customer_session_path, method: 'DELETE' %></li>
        <% else %>
          <li><%= link_to 'Register', new_customer_registration_path %></li>
          <li><%= link_to 'Log In', new_customer_session_path %></li>
        <% end %>
      </ul>
    </div>

	</header>

	<main>

    <%= yield %>

	</main>

  <footer>
    &#169; 2015 We Got Coders
  </footer>

</body>
</html>
